<header class="main-header">
    <div class="container cf">
        <div id="head-title" class="inline">
            <h1 itemprop="name">
                <span itemprop="givenName">Gabriel</span>
                <span itemprop="familyName">Garus</span>
            </h1>
        </div>
        <div id="head-navigation" class="inline">
            <nav class="menu-nav-container">
                <ul id="menu-nav" class="cf">
                    <li class="empty">
                        <a href="#hero">Home</a>
                    </li>
                    <li class="empty"><a href="#about-me">Abut Me</a></li>
                    <li class="empty"><a href="#contact-me">Contact Me</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
