// main


*, *:before, *:after {
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: $bg-color;
  color: #666666;
  //font-family: 'Source Sans Pro', sans-serif;
  // font-family: "Trebuchet MS", Verdana, sans-serif;
  font-family: 'Roboto', sans-serif;
}

hr {
  border: none;
  border-bottom: solid 1px #aaaaaa;
}

p {
  line-height: 1.2;
  max-width: 500px;
  width: 100%;
}

h2 {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}
.container {
  margin: 0 auto;
  max-width: $content-width;
  width: 100%;
}
//<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
#the-content {
  background-color: $bg-color;
  // padding: 30px 0;
  width: 100%;
}




#theFooter {
  background-color: $grey-dark;
  color: white;
  margin: 0 0 0 0;
  padding: 35px 0;
  text-align: center;
  @include mq_big(550px) {
    //margin-top: 80px; 
    //margin-top: 18vh; 
  }
  p {
    margin: auto; 
    max-width: 100%;
  }
}



.inline {
  display: inline-block;
  vertical-align: middle;
}

#head-title {
  padding-left: 20px;
  vertical-align: middle;
@include mq(549px) {
    display: block;
    width: 100%;
  }
}


.social {
  a {
    border-bottom: solid 1px transparent;
    color: inherit;
    display: inline-block;
    margin: 0 10px;
    padding: 1px 15px;
    text-decoration: none;
    vertical-align: top;

    &:hover {
      border-bottom: dotted 1px silver;
    }
  }
}


.content {
  font-family: Verdana, sans-serif;

  margin-bottom: 1em;

  ul {
    list-style-type: circle;
    padding-left: 20px;
  }

  p {
    font-size: 14px;
  }
}


.left, .right {
  @include mq(520px) {
    display: block;
    float: none;
    padding: 30px;
    width: 100%;

    img {
      height: auto;  
      max-width: 100%;
    }
  }
}

.half-line {
  border-color: #999999;
  margin: 20px auto;
  width: 50%;
}
